* {
margin: 0;
padding: 0;
border: 1px solid black;
box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

main {
    flex: 3 0;
    margin: auto;
}

aside {
    flex: 1 0;
    padding-top: 2%;
}

h2 {
    font-size: 50px;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

ol {
    padding-top: 1%;
    padding-bottom: 1%;
}

button {
    background-color: darkblue;
    color: white;
    padding: 1%;
    font-size: 24px;
    border-radius: 8px;
}

button:hover{
    cursor: pointer;
    background-color: blue;
}

/* .selected{
    background-color:white;
    color: darkblue;
    border: solid 2px darkblue;
} */

button:focus {
    background-color:white;
    color: darkblue;
    border: solid 2px darkblue;
}